# Environment Variables Example
# Copy this file to .env and fill in your values

# TVDB API key - Get from https://thetvdb.com/api-information
TVDB_API_KEY=your_tvdb_api_key_here

# Server configuration
PORT=3000

# Base URLs
TVDB_BASE_URL=https://api4.thetvdb.com/v4

# Admin API KEY
ADMIN_API_KEY=your_secure_admin_key_here

# MongoDB connection string - if no MONGODB_URI is set, cache "memory" will be used
# Replace <username> and <password> with your MongoDB credentials and the URL with yours
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net

# Cache Configuration
# Options: memory, hybrid, mongodb
# memory: In-memory only (fast, no persistence) --> Default if no CACHE_TYPE is set
# hybrid: L1 (memory) + L2 (MongoDB) - RECOMMENDED for production
# mongodb: MongoDB only (slower but full persistence)
CACHE_TYPE=hybrid